/* profileSection.css - COMPLETE FILE */

.section-header-icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 0.375rem;
    margin-right: 0.75rem;
    vertical-align: middle;
}

.section-title-text {
    vertical-align: middle;
}

.slds-text-heading_medium {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: #080707;
}